In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rajeshrampure/black-friday-sale")

print("Path to dataset files:", path)

c:\Users\nates\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/rajeshrampure/black-friday-sale?dataset_version_number=1...

100%|██████████| 5.48M/5.48M [00:02<00:00, 2.76MB/s]

Extracting files...

Path to dataset files: C:\Users\nates\.cache\kagglehub\datasets\rajeshrampure\black-friday-sale\versions\1

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv(r"F:\Data science\train.csv")

In [10]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [12]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [14]:
df['Product_Category_2'].isnull().sum()

np.int64(173638)

In [15]:
df['Product_Category_2'].count()

np.int64(376430)

In [16]:
import math

In [17]:
test = df['Product_Category_2'].fillna(100)

In [18]:
df['Product_Category_2'].dropna()

1          6.0
3         14.0
5          2.0
6          8.0
7         15.0
          ...
545905     8.0
545906    17.0
545907     3.0
545908     2.0
545914     2.0
Name: Product_Category_2, Length: 376430, dtype: float64

In [19]:
test

0         100.0
1           6.0
2         100.0
3          14.0
4         100.0
          ...
550063    100.0
550064    100.0
550065    100.0
550066    100.0
550067    100.0
Name: Product_Category_2, Length: 550068, dtype: float64

In [20]:
selected_df = df[['Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Purchase']]

In [21]:
selected_df['Marital_Status'].corr(selected_df['Purchase'])

np.float64(-0.0004633764197594167)